# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# ----------------------------
# Virtual environments
# ----------------------------
.venv/
venv/
env/
ENV/

# ----------------------------
# Packaging
# ----------------------------
build/
dist/
*.egg-info/
.eggs/

# ----------------------------
# Django
# ----------------------------
db.sqlite3
*.sqlite3
media/
staticfiles/

# ----------------------------
# Environment variables
# ----------------------------
.env

# ----------------------------
# IDE
# ----------------------------
.idea/
.vscode/

# ----------------------------
# OS
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Logs
# ----------------------------
*.log